body {
    margin: 0;
}

.caixa {
    background-color: #182140;
    height: 100px; /* Altura da barra */
    width: 100%;
    display: flex;
    align-items: center; /* Centraliza verticalmente os itens */
    position: sticky;
    top: 0;
    transition: background-color 0.3s ease; /* Animação suave */
}

.scroll-active {
    background-color: #2a3b5a; /* Cor mais clara ao rolar */
}

.logo {
    height: 180px;
    width: 260px;
    margin-top:15px;
    margin-left: 1px;  /* Margem à esquerda da imagem */
}

.dlink {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    flex-grow: 1; /* Permite que a div ocupe o espaço restante */
}

.links {
    display: flex;
    gap: 30px; /* Espaço entre os links */
    padding-left: 700px;
    margin-left: 20px; 
}

.links a {
    text-decoration: none;  
    color: white;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

nav.links button {
    background-color: transparent;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    width: 200px;
    height: 70px;
    margin-top: 2px;
    color: white;
}

/* Estilo para os links dentro dos botões */
nav.links button a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: Arial, sans-serif;
    display: block; /* Faz o link ocupar todo o botão */
}

nav.links button:hover{
    background-color: white;
    color:  black;
    transition-duration: 1s;
}

nav.links button:hover a{
    color: black;
}

.video{
    width: 100%;
    height: 700px;
}

.sobremim{
    width: 100%;
    height: 700px;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    align-items: flex-start;
    display: flex;               
    flex-direction: column; 
}

.italo{
    margin-top: 100px;    /* Margem na parte superior (ajuste conforme necessário) */
    margin-bottom: 20px;
    margin-left: 300px;
}

._{
    margin-bottom: 10px;
    margin-left: 300px;
    margin-top: -10px;
}

.textsobre{
    margin-left: 300px;
    text-align: justify;
    max-width: 600px;
    margin-top: -200px;
    margin-right: 20px;        
}

.fotosobre {
    width: 700px;              /* Ajuste a largura conforme necessário */
    height: auto;              /* Altura automática para manter a proporção */
    margin-left: 100px;         /* Margem à esquerda para espaçamento em relação ao texto */
    margin-top: -80px;
}

.text-e-imagem {
    display: flex;              
    align-items: center;        
}

.conteudo {
    display: flex; /* Coloca o quadrado e a imagem lado a lado */
    justify-content: center; /* Centraliza os itens horizontalmente */
    align-items: flex-start; /* Alinha itens ao topo */
    margin-top: 20px; /* Espaço entre o título e o conteúdo */
}

.areas{
    width: 100%;
    height: 700px;
    background-color:gray;
}