body {
    margin: 0;
    height: 400vh;
    width: 100%;
}

html{
    scroll-behavior: smooth;
}

.caixa {
    background-color: #182140;
    height: 100px; /* Altura da barra */
    width: 100%;
    display: flex;
    align-items: center; /* Centraliza verticalmente os itens */
    position: sticky;
    top: 0;
    transition: background-color 0.1s ease; /* Animação suave */  
    z-index: 1000;
}

.scroll-active {
    background-color: #2a3b5a; /* Cor mais clara ao rolar */
}

.logo {
    height: 180px;
    width: 260px;
    margin-top:15px;
    margin-left: 1px;  /* Margem à esquerda da imagem */
}

.dlink {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    flex-grow: 1; /* Permite que a div ocupe o espaço restante */
}

.links {
    display: flex;
    gap: 30px; /* Espaço entre os links */
    padding-left: 700px;
    margin-left: 20px; 
}

.links a {
    text-decoration: none;  
    color: white;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

nav.links button {
    background-color: transparent;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    width: 200px;
    height: 70px;
    margin-top: 2px;
    color: white;
}

nav.links button a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: Arial, sans-serif;
    display: block; /* Faz o link ocupar todo o botão */
}

nav.links button:hover{
    background-color: white;
    color:  black;
    transition-duration: 0.5s;
}

nav.links button:hover a{
    color: black;
}

.video{
    width: 100%;
    height: 100vh;
    z-index: 1;
    position: relative; /* Mantém o vídeo atrás da navbar */
}

.sobremim{
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    align-items: flex-start;
    display: flex;               
    flex-direction: column; 
    margin-top: 0;
}

.italo{
    margin-top: 270px;    
    margin-bottom: 20px;
    margin-left: 300px;
}

._{
    margin-bottom: 10px;
    margin-left: 300px;
    margin-top: -10px;
}

.textsobre{
    margin-left: 300px;
    text-align: justify;
    max-width: 600px;
    margin-top: -200px;
    margin-right: 20px;        
}

.fotosobre {
    width: 700px;              /* Ajuste a largura conforme necessário */
    height: auto;              /* Altura automática para manter a proporção */
    margin-left: 100px;         /* Margem à esquerda para espaçamento em relação ao texto */
    margin-top: -80px;
}

.text-e-imagem {
    display: flex;              
    align-items: center;        
}

.conteudo {
    display: flex; /* Coloca o quadrado e a imagem lado a lado */
    justify-content: center; /* Centraliza os itens horizontalmente */
    align-items: flex-start; /* Alinha itens ao topo */
    margin-top: 20px; /* Espaço entre o título e o conteúdo */
}

.areas {
    width: 100%;
    height: 100vh;
    background-color: #202020;
}

.areastrabalho {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 150px;
}

.quadradosareas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.imagem-container {
    position: relative;
    margin: 30px;
    max-width: 300px; 
}

.quadradosareas img {
    width: 300px;
    height: 250px;
    border-radius: 10px;
    opacity: 0.69;
    transition: opacity 0.3s;
}

.texto-sobre-imagem {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s;
    font-family: Arial, Helvetica, sans-serif;
}

.imagem-container:hover .texto-sobre-imagem {
    opacity: 1;
}

.imagem-container:hover img {
    opacity: 0.3;
}

.one {
    display: flex;
    text-align: center;
    justify-content: center;
    color: white;
}

.conheca {
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.contato {
    width: 100%;
    height: 93vh;
    background-color: black;
    padding-top: 150px; /* Ajuste o espaçamento conforme desejado */
    color: white;
    display: flex;
    flex-direction: column; /* Alinha o conteúdo verticalmente */
    align-items: center; /* Centraliza horizontalmente o conteúdo */ 
   
}

.cont {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: white;
}

.contato-container {
    display: flex;
    justify-content: center;  /* Centraliza horizontalmente */
    gap: 50px;                /* Espaçamento entre mapa e redes sociais */
    margin-top: 0;
    padding-top: 30px;
    display: flex;
    align-items: flex-start;
}

.maps {
    width: 600px;
    height: 450px;
    margin-top: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-links {
    display: flex;
    flex-direction: column;
    gap: 20px;  /* Espaçamento entre WhatsApp e Instagram */
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: #333; /* Exemplo de cor de fundo */
    color: white;
}

footer p, footer a {
    margin: 0 10px; /* Espaço entre o texto e o link */
    font-family: Arial, sans-serif;
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
}

.card {
    width: fit-content;
    height: fit-content;
    background-color: rgb(238, 238, 238);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 25px;
    gap: 20px;
    margin-top: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
    border-radius: 10px;
  }
  
  /* for all social containers*/
  .socialContainer {
    width: 52px;
    height: 52px;
    border-radius: 5px;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: 0.3s;
  }
  /* instagram*/
  .containerOne:hover {
    background-color: #d62976;
    transition-duration: 0.3s;
  }
  /* Tiktok*/
  .containerTwo:hover {
    background-color: #25f4ee;
    transition-duration: 0.3s;
  }
  /* Facebook*/
  .containerThree:hover {
    background-color: #1877f2;
    transition-duration: 0.3s;
  }
  /* Whatsapp*/
  .containerFour:hover {
    background-color: green;
    transition-duration: 0.3s;
  }
  
  .socialContainer:active {
    transform: scale(0.9);
    transition-duration: 0.3s;
  }
  
  .socialSvg {
    width: 19px;
  }
  .largeIcon {
    width: 27px; /* Ancho específico solo para el icono de TikTok */
  }
  .socialSvg path {
    fill: rgb(255, 255, 255);
  }
  
  .socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
  }
  
  @keyframes slide-in-top {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

