body {
    margin: 0;
    height: 400vh;
    width: 100%;
}

html{
    scroll-behavior: smooth;
}

.caixa {
    background-color: #182140;
    height: 100px; /* Altura da barra */
    width: 100%;
    display: flex;
    align-items: center; /* Centraliza verticalmente os itens */
    position: sticky;
    top: 0;
    transition: background-color 0.1s ease; /* Animação suave */
    
}

.scroll-active {
    background-color: #2a3b5a; /* Cor mais clara ao rolar */
}

.logo {
    height: 180px;
    width: 260px;
    margin-top:15px;
    margin-left: 1px;  /* Margem à esquerda da imagem */
}

.dlink {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    flex-grow: 1; /* Permite que a div ocupe o espaço restante */
}

.links {
    display: flex;
    gap: 30px; /* Espaço entre os links */
    padding-left: 700px;
    margin-left: 20px; 
}

.links a {
    text-decoration: none;  
    color: white;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

nav.links button {
    background-color: transparent;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    width: 200px;
    height: 70px;
    margin-top: 2px;
    color: white;
}

/* Estilo para os links dentro dos botões */
nav.links button a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: Arial, sans-serif;
    display: block; /* Faz o link ocupar todo o botão */
}

nav.links button:hover{
    background-color: white;
    color:  black;
    transition-duration: 0.5s;
}

nav.links button:hover a{
    color: black;
}

.video{
    width: 100%;
    height: 100vh;
}

.sobremim{
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    align-items: flex-start;
    display: flex;               
    flex-direction: column; 
    margin-top: 0;
}

.italo{
    margin-top: 270px;    /* Margem na parte superior (ajuste conforme necessário) */
    margin-bottom: 20px;
    margin-left: 300px;
}

._{
    margin-bottom: 10px;
    margin-left: 300px;
    margin-top: -10px;
}

.textsobre{
    margin-left: 300px;
    text-align: justify;
    max-width: 600px;
    margin-top: -200px;
    margin-right: 20px;        
}

.fotosobre {
    width: 700px;              /* Ajuste a largura conforme necessário */
    height: auto;              /* Altura automática para manter a proporção */
    margin-left: 100px;         /* Margem à esquerda para espaçamento em relação ao texto */
    margin-top: -80px;
}

.text-e-imagem {
    display: flex;              
    align-items: center;        
}

.conteudo {
    display: flex; /* Coloca o quadrado e a imagem lado a lado */
    justify-content: center; /* Centraliza os itens horizontalmente */
    align-items: flex-start; /* Alinha itens ao topo */
    margin-top: 20px; /* Espaço entre o título e o conteúdo */
}

.areas {
    width: 100%;
    height: 100vh;
    background-color: #202020;
}

.areastrabalho {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 150px;
}

.quadradosareas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.imagem-container {
    position: relative;
    margin: 30px;
    max-width: 300px; 
}

.quadradosareas img {
    width: 300px;
    height: 250px;
    border-radius: 10px;
    opacity: 0.69;
    transition: opacity 0.3s;
}

.texto-sobre-imagem {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s;
    font-family: Arial, Helvetica, sans-serif;
}

.imagem-container:hover .texto-sobre-imagem {
    opacity: 1;
}

.imagem-container:hover img {
    opacity: 0.3;
}

.one {
    display: flex;
    text-align: center;
    justify-content: center;
    color: white;
}

.conheca {
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.contato {
    width: 100%;
    height: 93vh;
    background-color: black;
    padding-top: 150px; /* Ajuste o espaçamento conforme desejado */
    color: white;
    display: flex;
    flex-direction: column; /* Alinha o conteúdo verticalmente */
    align-items: center; /* Centraliza horizontalmente o conteúdo */ 
   
}

.cont {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: white;
}

.contato-container {
    display: flex;
    justify-content: center;  /* Centraliza horizontalmente */
    gap: 50px;                /* Espaçamento entre mapa e redes sociais */
    margin-top: 50px;
    padding-top: 70px;
    display: flex;
    align-items: flex-start;
}

.maps {
    width: 600px;
    height: 450px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-links {
    display: flex;
    flex-direction: column;
    gap: 20px;  /* Espaçamento entre WhatsApp e Instagram */
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: #333; /* Exemplo de cor de fundo */
    color: white;
}

footer p, footer a {
    margin: 0 10px; /* Espaço entre o texto e o link */
    font-family: Arial, sans-serif;
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
}

.form {
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 30px 30px -30px rgba(27, 26, 26, 0.315);
  }
  
  .form .title {
    color: black;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: -1px;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .form input {
    outline: 0;
    border: 1px solid rgb(219, 213, 213);
    padding: 8px 14px;
    border-radius: 8px;
    width: 270px;
    height: 50px;
  }
  
  .form textarea {
    border-radius: 8px;
    height: 100px;
    width: 270px;
    resize: none;
    outline: 0;
    padding: 8px 14px;
    border: 1px solid rgb(219, 213, 213);
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .form button {
    align-self: flex-end;
    padding: 8px;
    outline: 0;
    border: 0;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    background-color: black;
    color: #fff;
    cursor: pointer;
  }

  .whats, .instagram    {
    height: auto;
    width: 40px;
    margin-top: 30px;
  }

  .imgform {
    display: flex;
    align-items: center; /* opcional, para alinhar verticalmente */
  }
  
  .whats, .instagram {
    height: auto;
    width: 40px;
    margin-top: 30px;
    margin-right: 20px;
  }
  




